<%- include("partials/header") -%>
<section id="contentContainer">
    <div class="container">
        <h2>About</h2>
        <div class="ContentBox">
            <p class="paraContent"><%= Content %></p>
        </div>
    </div>
</section>
<%- include("partials/footer") -%>