<%- include("partials/header"); -%>
<section id="contentContainer">
    <div class="container">
        <h2><%= postTitle %> </h2>
        <div class="contentBox">
            <p class="paraContent"><%=postContent%></p>
        </div>
    </div>
</section>
<%- include("partials/footer"); -%>