<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download</title>
    <script lang="javascript" src="FileSaver.min.js"></script>
</head>
<body>
    <h1>Your File has been successfully converted. Click to Download</h1>
    <a href="" style="margin: 5rem;text-decoration: none; padding:22px; background-color: black; color: white;" download>Download</a>
<script src=""></script>
</body>
</html>